USE [master]
GO
/****** Object:  Database [DbQuanLyThuVien]    Script Date: 28/11/2022 23:03:33 ******/
CREATE DATABASE [DbQuanLyThuVien]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbQuanLyThuVien', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbQuanLyThuVien.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbQuanLyThuVien_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SA\MSSQL\DATA\DbQuanLyThuVien_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbQuanLyThuVien].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbQuanLyThuVien]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 28/11/2022 23:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGias]    Script Date: 28/11/2022 23:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGias](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[GioiTinh] [nvarchar](max) NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.DocGias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muons]    Script Date: 28/11/2022 23:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DocGiaID] [int] NOT NULL,
	[NgayMuon] [datetime] NOT NULL,
	[NgayHenTra] [datetime] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.Muons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDungs]    Script Date: 28/11/2022 23:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDungs](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](max) NULL,
	[TenDangNhap] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
	[NgaySinh] [datetime] NOT NULL,
	[DienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[GioiTinh] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.NguoiDungs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Saches]    Script Date: 28/11/2022 23:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saches](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TenSach] [nvarchar](max) NULL,
	[TacGia] [nvarchar](max) NULL,
	[NhaXuatBan] [nvarchar](max) NULL,
	[NamXuatBan] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.Saches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SachMuons]    Script Date: 28/11/2022 23:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SachMuons](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaSach] [bigint] NOT NULL,
	[MaDocGia] [bigint] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.SachMuons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tras]    Script Date: 28/11/2022 23:03:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tras](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MuonID] [int] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[TienPhat] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayCapNhat] [datetime] NULL,
 CONSTRAINT [PK_dbo.Tras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DocGias] ON 

INSERT [dbo].[DocGias] ([Id], [HoVaTen], [NgaySinh], [DienThoai], [Email], [DiaChi], [GioiTinh], [NgayTao], [NgayCapNhat]) VALUES (1, N'abc1', CAST(N'2022-11-28T22:52:36.993' AS DateTime), N'1241414111', N'abc@gmail.com', N'', N'Nam', CAST(N'2022-11-28T21:24:42.813' AS DateTime), CAST(N'2022-11-28T22:52:42.143' AS DateTime))
INSERT [dbo].[DocGias] ([Id], [HoVaTen], [NgaySinh], [DienThoai], [Email], [DiaChi], [GioiTinh], [NgayTao], [NgayCapNhat]) VALUES (2, N'2', CAST(N'2022-11-28T21:25:15.810' AS DateTime), N'98765432', N'2@gmail.com', N'hn', N'Nữ', CAST(N'2022-11-28T21:25:47.633' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[DocGias] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDungs] ON 

INSERT [dbo].[NguoiDungs] ([Id], [HoVaTen], [TenDangNhap], [MatKhau], [NgaySinh], [DienThoai], [Email], [DiaChi], [GioiTinh], [NgayTao], [NgayCapNhat]) VALUES (1, N'Quản trị viên', N'admin', N'123', CAST(N'1999-10-10T00:00:00.000' AS DateTime), N'098974113', N'admin@gmail.com', N'HN', 1, CAST(N'2022-10-10T00:00:00.000' AS DateTime), CAST(N'2022-10-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[NguoiDungs] OFF
GO
SET IDENTITY_INSERT [dbo].[Saches] ON 

INSERT [dbo].[Saches] ([Id], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [DonGia], [SoLuong], [NgayTao], [NgayCapNhat]) VALUES (1, N'Sách tiếng việt', N'Nam cao', N'Tuổi trẻ', 2010, 10000, 5, CAST(N'2022-11-14T22:52:21.977' AS DateTime), NULL)
INSERT [dbo].[Saches] ([Id], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [DonGia], [SoLuong], [NgayTao], [NgayCapNhat]) VALUES (2, N'sách ngữ văn', N'nam cao', N'nam cao', 2020, 20000, 20, CAST(N'2022-11-28T22:49:08.340' AS DateTime), NULL)
INSERT [dbo].[Saches] ([Id], [TenSach], [TacGia], [NhaXuatBan], [NamXuatBan], [DonGia], [SoLuong], [NgayTao], [NgayCapNhat]) VALUES (3, N'Tố Hữu', N'Tố Hữu', N'2020', 20000, 20, 3, CAST(N'2022-11-28T22:49:30.947' AS DateTime), CAST(N'2022-11-28T22:52:30.527' AS DateTime))
SET IDENTITY_INSERT [dbo].[Saches] OFF
GO
USE [master]
GO
